<main>
  <div>
    <div>
      <h1 class="about mx-5">セコミックスにようこそ！</h2>
    </div>
    <div class="onepiece">
      <%= image_tag 'onepiece02_zoro_bandana.png'%> <%= image_tag 'onepiece01_luffy.png' %> <%= image_tag 'onepiece03_nami.png' %>
    </div>
  </div>
</main>

