<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class="container">
    <div class="row">
      <div class='m-auto p-auto col-11 col-sm-10 col-lg-8 col-xl-12'>
        <h1 class="top">セコミックスへようこそ!!</h1>
        <p class="top2">セコミックスではネット漫画の情報やおすすめを知ることができます</p>
        <div class="btn-wrapper col-6 mx-auto">
          <div class="top-btn">
          <div class="row">
            <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
          </div>
          <div class="row">
            <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign up</a>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>