/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body{
  background-image: image-url('comic493.png');
  background-size: cover;
}

h1{
  font-family: 'Yusei Magic';
}

h2{
  font-family: 'Yusei Magic';
}

th{
  font-family: 'Yusei Magic';
}

td{
  font-family: 'Yusei Magic';
}

// UserInfoページ

.btn-warnig{
  text-align: center;
  font-family: 'Yusei Magic';
}

.form-group-new{
  margin-top: 20px;
  text-align: center;
  font-family: 'Yusei Magic';
}

//新規投稿ページ

label{
  font-family: 'Yusei Magic';
}

.btn-success{
  font-family: 'Yusei Magic';
}

.new{
  margin-top: 80px;
}

// 編集ページ

.edit{
  margin-top: 80px;
}

.btn-secondary{
  font-family: 'Yusei Magic';
}

// comment
.comment{
  margin-top: 30px;
}

// Comic一覧ページ
.right{
  position: relative;
}

.paginate{
  position: absolute;
  left: 50%;
  bottom: 0;
}

